<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>朋友圈</string>
				<key>icon</key>
				<string>ff_IconShowAlbum</string>
				<key>targetVcName</key>
				<string>WXFriendTableController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>扫一扫</string>
				<key>icon</key>
				<string>ff_IconQRCode</string>
			</dict>
			<dict>
				<key>title</key>
				<string>摇一摇</string>
				<key>icon</key>
				<string>ff_IconShake</string>
				<key>targetVcName</key>
				<string>WXShakeController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>附近的人</string>
				<key>icon</key>
				<string>ff_IconLocationService</string>
			</dict>
			<dict>
				<key>title</key>
				<string>漂流瓶</string>
				<key>icon</key>
				<string>ff_IconBottle</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>购物</string>
				<key>icon</key>
				<string>CreditCard_ShoppingBag</string>
			</dict>
			<dict>
				<key>title</key>
				<string>游戏</string>
				<key>icon</key>
				<string>MoreGame</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
