<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>0</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>1</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>2</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>3</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>4</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>5</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>6</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>7</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>8</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>9</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>10</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>11</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>12</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>13</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>14</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>15</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>16</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>17</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>18</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>19</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>20</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>21</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>22</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>23</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>0</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>1</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>2</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>4</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>14</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>15</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>9</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>18</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>7</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>15</string>
		<key>btnImage</key>
		<string></string>
		<key>clickedBtn</key>
		<false/>
	</dict>
</array>
</plist>
