<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>icon</key>
				<string>my</string>
				<key>details</key>
				<string>微信号:YYSky5201314</string>
				<key>name</key>
				<string>七秒小鱼人</string>
			</dict>
		</array>
		<key>footer</key>
		<string></string>
		<key>header</key>
		<string></string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>icon</key>
				<string>MoreMyAlbum</string>
				<key>name</key>
				<string>相册</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>MoreMyFavorites</string>
				<key>name</key>
				<string>收藏</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>MoreMyBankCard</string>
				<key>name</key>
				<string>钱包</string>
			</dict>
		</array>
		<key>footer</key>
		<string></string>
		<key>header</key>
		<string></string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>icon</key>
				<string>MoreExpressionShops</string>
				<key>name</key>
				<string>表情</string>
			</dict>
		</array>
		<key>footer</key>
		<string></string>
		<key>header</key>
		<string></string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>icon</key>
				<string>MoreSetting</string>
				<key>name</key>
				<string>设置</string>
			</dict>
		</array>
		<key>footer</key>
		<string></string>
		<key>header</key>
		<string></string>
	</dict>
</array>
</plist>
